*env/
venv/
data/train/
new_env/
extra_files/*
__pycache__/*
data/personal/*
Scripts/
.streamlit/secrets.toml
*env*
deepface/*
*day*
.vscode/
*face_day4/
models/
logs/
data/tessdata/
__pycache__/
*.pyc
data/intermediate/*